<a href="https://colab.research.google.com/github/TolleDennis/CreditCardFraud/blob/main/creditCardFraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
#loading of the data to panda data frame
credit_card_fraud=pd.read_csv("SyntheticFraudData.csv")
credit_card_fraud

       step      type     amount  ... newbalanceDest  isFraud  isFlaggedFraud
0         1   PAYMENT    9839.64  ...           0.00      0.0             0.0
1         1   PAYMENT    1864.28  ...           0.00      0.0             0.0
2         1  TRANSFER     181.00  ...           0.00      1.0             0.0
3         1  CASH_OUT     181.00  ...           0.00      1.0             0.0
4         1   PAYMENT   11668.14  ...           0.00      0.0             0.0
...     ...       ...        ...  ...            ...      ...             ...
56198     9  CASH_OUT   16024.60  ...        8074.67      0.0             0.0
56199     9   PAYMENT   20502.92  ...           0.00      0.0             0.0
56200     9   CASH_IN  175858.36  ...           0.00      0.0             0.0
56201     9   PAYMENT    2955.89  ...           0.00      0.0             0.0
56202     9    PAYMEN        NaN  ...            NaN      NaN             NaN

[56203 rows x 11 columns]

In [ ]:
#analysing the statistics of data
credit_card_fraud.describe()

               step        amount  ...       isFraud  isFlaggedFraud
count  56203.000000  5.620200e+04  ...  56202.000000         56202.0
mean       7.624451  1.598924e+05  ...      0.001779             0.0
std        1.999414  3.293750e+05  ...      0.042145             0.0
min        1.000000  6.300000e-01  ...      0.000000             0.0
25%        8.000000  8.135660e+03  ...      0.000000             0.0
50%        8.000000  3.623700e+04  ...      0.000000             0.0
75%        9.000000  1.918409e+05  ...      0.000000             0.0
max        9.000000  1.000000e+07  ...      1.000000             0.0

[8 rows x 8 columns]

In [ ]:
#getting the info 
credit_card_fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56203 entries, 0 to 56202
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            56203 non-null  int64
 1   type            56203 non-null  object
 2   amount          56202 non-null  float64
 3   nameOrig        56202 non-null  object
 4   oldbalanceOrg   56202 non-null  float64
 5   newbalanceOrig  56202 non-null  float64
 6   nameDest        56202 non-null  object
 7   oldbalanceDest  56202 non-null  float64
 8   newbalanceDest  56202 non-null  float64
 9   isFraud         56202 non-null  float64
 10  isFlaggedFraud  56202 non-null  float64
dtypes: float64(7), int64(1), object(3)
memory usage: 4.7+ MB

In [ ]:
#checking for empty columns on the dataset
credit_card_fraud['isFraud'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
56198    False
56199    False
56200    False
56201    False
56202     True
Name: isFraud, Length: 56203, dtype: bool

In [ ]:
#the sum of all null columns in  the entire row
credit_card_fraud.isnull().sum()

step              0
type              0
amount            1
nameOrig          1
oldbalanceOrg     1
newbalanceOrig    1
nameDest          1
oldbalanceDest    1
newbalanceDest    1
isFraud           1
isFlaggedFraud    1
dtype: int64

In [ ]:
#Dropping of the nan values
credit_card_fraud.dropna(inplace=True)

In [ ]:
#confirming if there is still null values
credit_card_fraud.isnull()

        step   type  amount  ...  newbalanceDest  isFraud  isFlaggedFraud
0      False  False   False  ...           False    False           False
1      False  False   False  ...           False    False           False
2      False  False   False  ...           False    False           False
3      False  False   False  ...           False    False           False
4      False  False   False  ...           False    False           False
...      ...    ...     ...  ...             ...      ...             ...
56197  False  False   False  ...           False    False           False
56198  False  False   False  ...           False    False           False
56199  False  False   False  ...           False    False           False
56200  False  False   False  ...           False    False           False
56201  False  False   False  ...           False    False           False

[56202 rows x 11 columns]

In [ ]:
#confirming the dropped row is successful
credit_card_fraud

       step      type     amount  ... newbalanceDest  isFraud  isFlaggedFraud
0         1   PAYMENT    9839.64  ...           0.00      0.0             0.0
1         1   PAYMENT    1864.28  ...           0.00      0.0             0.0
2         1  TRANSFER     181.00  ...           0.00      1.0             0.0
3         1  CASH_OUT     181.00  ...           0.00      1.0             0.0
4         1   PAYMENT   11668.14  ...           0.00      0.0             0.0
...     ...       ...        ...  ...            ...      ...             ...
56197     9   CASH_IN  261833.19  ...           0.00      0.0             0.0
56198     9  CASH_OUT   16024.60  ...        8074.67      0.0             0.0
56199     9   PAYMENT   20502.92  ...           0.00      0.0             0.0
56200     9   CASH_IN  175858.36  ...           0.00      0.0             0.0
56201     9   PAYMENT    2955.89  ...           0.00      0.0             0.0

[56202 rows x 11 columns]

In [ ]:
#separating data for analysis
legitTransaction = credit_card_fraud[credit_card_fraud['isFraud']==0]
fradTransaction = credit_card_fraud[credit_card_fraud['isFraud']==1]

In [ ]:
#reading the transations
print(legitTransaction)
print(fradTransaction)

       step      type     amount  ... newbalanceDest  isFraud  isFlaggedFraud
0         1   PAYMENT    9839.64  ...           0.00      0.0             0.0
1         1   PAYMENT    1864.28  ...           0.00      0.0             0.0
4         1   PAYMENT   11668.14  ...           0.00      0.0             0.0
5         1   PAYMENT    7817.71  ...           0.00      0.0             0.0
6         1   PAYMENT    7107.77  ...           0.00      0.0             0.0
...     ...       ...        ...  ...            ...      ...             ...
56197     9   CASH_IN  261833.19  ...           0.00      0.0             0.0
56198     9  CASH_OUT   16024.60  ...        8074.67      0.0             0.0
56199     9   PAYMENT   20502.92  ...           0.00      0.0             0.0
56200     9   CASH_IN  175858.36  ...           0.00      0.0             0.0
56201     9   PAYMENT    2955.89  ...           0.00      0.0             0.0

[56102 rows x 11 columns]
       step      type      amount  ... newbalanceDest  isFraud  isFlaggedFraud
2         1  TRANSFER      181.00  ...           0.00      1.0             0.0
3         1  CASH_OUT      181.00  ...           0.00      1.0             0.0
251       1  TRANSFER     2806.00  ...           0.00      1.0             0.0
252       1  CASH_OUT     2806.00  ...           0.00      1.0             0.0
680       1  TRANSFER    20128.00  ...           0.00      1.0             0.0
...     ...       ...         ...  ...            ...      ...             ...
47145     9  CASH_OUT   350705.74  ...     1794033.65      1.0             0.0
49825     9  TRANSFER  2539898.07  ...      261290.69      1.0             0.0
49826     9  CASH_OUT  2539898.07  ...     1842864.22      1.0             0.0
49885     9  TRANSFER   361559.69  ...      141302.12      1.0             0.0
49886     9  CASH_OUT   361559.69  ...      189441.24      1.0             0.0

[100 rows x 11 columns]

In [ ]:
#statistical measures of data
legitTransaction['amount'].describe()

count    5.610200e+04
mean     1.591544e+05
std      3.218751e+05
min      6.300000e-01
25%      8.127038e+03
50%      3.625499e+04
75%      1.917657e+05
max      5.677662e+06
Name: amount, dtype: float64

In [ ]:
#statistical measures of data
legitTransaction['amount'].describe()

count    5.610200e+04
mean     1.591544e+05
std      3.218751e+05
min      6.300000e-01
25%      8.127038e+03
50%      3.625499e+04
75%      1.917657e+05
max      5.677662e+06
Name: amount, dtype: float64

In [ ]:
#checking the statistical distribution of data
credit_card_fraud.groupby('isFraud').mean()

             step         amount  ...  newbalanceDest  isFlaggedFraud
isFraud                           ...
0.0      7.628819  159154.396012  ...    1.170743e+06             0.0
1.0      5.160000  573937.718400  ...    6.600862e+05             0.0

[2 rows x 7 columns]

In [ ]:
#transaction counts for legit and fraud 
legitTransaction.count()

step              56102
type              56102
amount            56102
nameOrig          56102
oldbalanceOrg     56102
newbalanceOrig    56102
nameDest          56102
oldbalanceDest    56102
newbalanceDest    56102
isFraud           56102
isFlaggedFraud    56102
dtype: int64

In [ ]:
fradTransaction.count()

step              100
type              100
amount            100
nameOrig          100
oldbalanceOrg     100
newbalanceOrig    100
nameDest          100
oldbalanceDest    100
newbalanceDest    100
isFraud           100
isFlaggedFraud    100
dtype: int64

In [ ]:
#Sample dataset containing similar distribution of legit transacton and the fraudent
#legit transactions are 42176
#fradulent transactions 94

legitTransactionSample=legitTransaction.sample(n=94)

In [ ]:
print(legitTransactionSample.count())
print(fradTransaction.count())
print(legitTransaction.columns)

step              94
type              94
amount            94
nameOrig          94
oldbalanceOrg     94
newbalanceOrig    94
nameDest          94
oldbalanceDest    94
newbalanceDest    94
isFraud           94
isFlaggedFraud    94
dtype: int64
step              100
type              100
amount            100
nameOrig          100
oldbalanceOrg     100
newbalanceOrig    100
nameDest          100
oldbalanceDest    100
newbalanceDest    100
isFraud           100
isFlaggedFraud    100
dtype: int64
Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud'],
      dtype='object')

In [ ]:
credit_card_fraud

       step      type     amount  ... newbalanceDest  isFraud  isFlaggedFraud
0         1   PAYMENT    9839.64  ...           0.00      0.0             0.0
1         1   PAYMENT    1864.28  ...           0.00      0.0             0.0
2         1  TRANSFER     181.00  ...           0.00      1.0             0.0
3         1  CASH_OUT     181.00  ...           0.00      1.0             0.0
4         1   PAYMENT   11668.14  ...           0.00      0.0             0.0
...     ...       ...        ...  ...            ...      ...             ...
56197     9   CASH_IN  261833.19  ...           0.00      0.0             0.0
56198     9  CASH_OUT   16024.60  ...        8074.67      0.0             0.0
56199     9   PAYMENT   20502.92  ...           0.00      0.0             0.0
56200     9   CASH_IN  175858.36  ...           0.00      0.0             0.0
56201     9   PAYMENT    2955.89  ...           0.00      0.0             0.0

[56202 rows x 11 columns]

In [ ]:
#Concat two dataframes
new_CreditCard=pd.concat([legitTransactionSample,fradTransaction],axis=0)

In [ ]:
#reading the new dataframe
new_CreditCard

       step      type      amount  ... newbalanceDest  isFraud  isFlaggedFraud
22261     8  CASH_OUT    25882.50  ...      503755.22      0.0             0.0
35725     9  TRANSFER   130097.50  ...     1784905.34      0.0             0.0
28759     8  CASH_OUT    46430.09  ...      698474.80      0.0             0.0
29947     8  CASH_OUT   263543.94  ...     3158225.46      0.0             0.0
3982      3   PAYMENT     7052.32  ...           0.00      0.0             0.0
...     ...       ...         ...  ...            ...      ...             ...
47145     9  CASH_OUT   350705.74  ...     1794033.65      1.0             0.0
49825     9  TRANSFER  2539898.07  ...      261290.69      1.0             0.0
49826     9  CASH_OUT  2539898.07  ...     1842864.22      1.0             0.0
49885     9  TRANSFER   361559.69  ...      141302.12      1.0             0.0
49886     9  CASH_OUT   361559.69  ...      189441.24      1.0             0.0

[194 rows x 11 columns]

In [ ]:
#confirming the change in statistical distribution
new_CreditCard['type'].value_counts()

CASH_OUT    76
TRANSFER    54
PAYMENT     45
CASH_IN     18
DEBIT        1
Name: type, dtype: int64

In [ ]:
new_CreditCard.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194 entries, 22261 to 49886
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            194 non-null    int64
 1   type            194 non-null    object
 2   amount          194 non-null    float64
 3   nameOrig        194 non-null    object
 4   oldbalanceOrg   194 non-null    float64
 5   newbalanceOrig  194 non-null    float64
 6   nameDest        194 non-null    object
 7   oldbalanceDest  194 non-null    float64
 8   newbalanceDest  194 non-null    float64
 9   isFraud         194 non-null    float64
 10  isFlaggedFraud  194 non-null    float64
dtypes: float64(7), int64(1), object(3)
memory usage: 18.2+ KB

In [ ]:
#confirming statistical distribution by group by
new_CreditCard.groupby('isFraud').mean()

             step         amount  ...  newbalanceDest  isFlaggedFraud
isFraud                           ...
0.0      7.468085  113157.168617  ...   889761.081489             0.0
1.0      5.160000  573937.718400  ...   660086.209800             0.0

[2 rows x 7 columns]

In [ ]:
#Splitting the data into Features and targets,and droping the non numerical
X=new_CreditCard.drop(columns=['isFraud','type','nameOrig'],axis=1)
Y=new_CreditCard['isFraud']

In [ ]:
#printing the new data
print(X)
print(Y)

       step      amount  ...  newbalanceDest  isFlaggedFraud
22261     8    25882.50  ...       503755.22             0.0
35725     9   130097.50  ...      1784905.34             0.0
28759     8    46430.09  ...       698474.80             0.0
29947     8   263543.94  ...      3158225.46             0.0
3982      3     7052.32  ...            0.00             0.0
...     ...         ...  ...             ...             ...
47145     9   350705.74  ...      1794033.65             0.0
49825     9  2539898.07  ...       261290.69             0.0
49826     9  2539898.07  ...      1842864.22             0.0
49885     9   361559.69  ...       141302.12             0.0
49886     9   361559.69  ...       189441.24             0.0

[194 rows x 8 columns]
22261    0.0
35725    0.0
28759    0.0
29947    0.0
3982     0.0
        ...
47145    1.0
49825    1.0
49826    1.0
49885    1.0
49886    1.0
Name: isFraud, Length: 194, dtype: float64

In [ ]:
#Dividing the data into training and test data
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,stratify=Y,random_state=4)

In [ ]:
#confirming the data
print(X_train)
print(Y_train)

       step     amount  ...  newbalanceDest  isFlaggedFraud
4103      3   10539.37  ...            0.00             0.0
24967     8    1996.17  ...         4555.92             0.0
33472     8   89631.24  ...            0.00             0.0
4668      4  169941.73  ...       169941.73             0.0
47249     9  200357.53  ...       223495.08             0.0
...     ...        ...  ...             ...             ...
4775      4   86070.17  ...            0.00             0.0
525       1   12666.68  ...            0.00             0.0
3982      3    7052.32  ...            0.00             0.0
14890     8  182625.27  ...      6457094.34             0.0
31043     8    6375.83  ...            0.00             0.0

[145 rows x 8 columns]
4103     1.0
24967    1.0
33472    1.0
4668     1.0
47249    0.0
        ...
4775     1.0
525      0.0
3982     0.0
14890    0.0
31043    0.0
Name: isFraud, Length: 145, dtype: float64

In [ ]:
print(Y_test)
print(X_test)

3060     1.0
1911     1.0
29947    0.0
35517    0.0
36771    0.0
15605    0.0
2        1.0
2125     0.0
10551    0.0
49826    1.0
23918    0.0
4261     1.0
34110    0.0
22261    0.0
27423    0.0
5466     1.0
10309    0.0
2980     0.0
5467     1.0
6898     1.0
35859    0.0
4442     1.0
50487    0.0
20365    0.0
42112    0.0
7030     1.0
33913    1.0
5227     0.0
34974    0.0
252      1.0
30653    0.0
33473    1.0
18771    1.0
7002     1.0
10682    0.0
2302     1.0
6961     0.0
43961    0.0
4443     1.0
44651    0.0
5746     1.0
7155     1.0
1116     1.0
5853     1.0
7154     1.0
4694     1.0
35725    0.0
969      1.0
6583     1.0
Name: isFraud, dtype: float64
       step      amount  ...  newbalanceDest  isFlaggedFraud
3060      2  1096187.24  ...      1096187.24             0.0
1911      1   132842.64  ...       132842.64             0.0
29947     8   263543.94  ...      3158225.46             0.0
35517     9     6564.09  ...            0.00             0.0
36771     9   153969.04  ...       314486.61             0.0
15605     8   240161.97  ...       129998.25             0.0
2         1      181.00  ...            0.00             0.0
2125      1    22190.99  ...        22190.99             0.0
10551     7     2615.76  ...            0.00             0.0
49826     9  2539898.07  ...      1842864.22             0.0
23918     8   213473.02  ...     16532032.16             0.0
4261      3    22877.00  ...        22877.00             0.0
34110     8     2290.94  ...            0.00             0.0
22261     8    25882.50  ...       503755.22             0.0
27423     8     6003.47  ...            0.00             0.0
5466      5    10119.47  ...            0.00             0.0
10309     7    13371.37  ...            0.00             0.0
2980      2    15803.60  ...            0.00             0.0
5467      5    10119.47  ...        10119.47             0.0
6898      6    10565.00  ...        24380.72             0.0
35859     9   199124.71  ...      4997975.32             0.0
4442      4  2930418.44  ...            0.00             0.0
50487     9   298102.91  ...       849253.45             0.0
20365     8   299704.52  ...       989801.23             0.0
42112     9     9024.76  ...            0.00             0.0
7030      6    85354.69  ...        10612.55             0.0
33913     8    29707.86  ...            0.00             0.0
5227      5     7643.08  ...            0.00             0.0
34974     8     6880.41  ...            0.00             0.0
252       1     2806.00  ...            0.00             0.0
30653     8   128964.88  ...      1096437.03             0.0
33473     8    89631.24  ...            0.00             0.0
18771     8      222.00  ...       267095.19             0.0
7002      6    10224.00  ...            0.00             0.0
10682     7     2109.49  ...            0.00             0.0
2302      1   235238.66  ...       235238.66             0.0
6961      6     1392.66  ...            0.00             0.0
43961     9   215644.09  ...       304147.50             0.0
4443      4  2930418.44  ...      6963508.84             0.0
44651     9    17451.14  ...            0.00             0.0
5746      6    25975.86  ...            0.00             0.0
7155      6    13704.00  ...       143675.35             0.0
1116      1    35063.63  ...         7550.03             0.0
5853      6    26768.50  ...       128744.50             0.0
7154      6    13704.00  ...      1658746.09             0.0
4694      4    13707.11  ...        13707.11             0.0
35725     9   130097.50  ...      1784905.34             0.0
969       1  1277212.77  ...            0.00             0.0
6583      6   216422.00  ...            0.00             0.0

[49 rows x 8 columns]

In [ ]:
#Modelling Training with Logistic Regression Model
model = LogisticRegression(C=1e5)

In [ ]:
#Training the logistic regression model with training data
print(X_train)

       step     amount  ...  newbalanceDest  isFlaggedFraud
4103      3   10539.37  ...            0.00             0.0
24967     8    1996.17  ...         4555.92             0.0
33472     8   89631.24  ...            0.00             0.0
4668      4  169941.73  ...       169941.73             0.0
47249     9  200357.53  ...       223495.08             0.0
...     ...        ...  ...             ...             ...
4775      4   86070.17  ...            0.00             0.0
525       1   12666.68  ...            0.00             0.0
3982      3    7052.32  ...            0.00             0.0
14890     8  182625.27  ...      6457094.34             0.0
31043     8    6375.83  ...            0.00             0.0

[145 rows x 8 columns]

In [ ]:
X_train.columns

Index(['step', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'nameDest',
       'oldbalanceDest', 'newbalanceDest', 'isFlaggedFraud'],
      dtype='object')

AttributeError: ignored