<a href="https://colab.research.google.com/github/TolleDennis/CreditCardFraud/blob/main/creditCardFraud.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [47]:
#loading of the data to panda data frame
credit_card_fraud=pd.read_csv("credictFraud.csv")
credit_card_fraud

         step      type     amount  ... newbalanceDest  isFraud  isFlaggedFraud
0           1   PAYMENT    9839.64  ...           0.00        0             0.0
1           1   PAYMENT    1864.28  ...           0.00        0             0.0
2           1  TRANSFER     181.00  ...           0.00        1             0.0
3           1  CASH_OUT     181.00  ...           0.00        1             0.0
4           1   PAYMENT   11668.14  ...           0.00        0             0.0
...       ...       ...        ...  ...            ...      ...             ...
3925155   285  CASH_OUT   99022.47  ...      500214.12        0             0.0
3925156   285  CASH_OUT  231724.37  ...     1039151.42        0             0.0
3925157   285   PAYMENT      32.75  ...           0.00        0             0.0
3925158   285     DEBIT    1131.26  ...     1164035.71        0             0.0
3925159   285  TRANSFER  325725.86  ...     1558972.12        0             NaN

[3925160 rows x 11 columns]

In [48]:
#analysing of the data
credit_card_fraud['type'].value_counts()

CASH_OUT    1396335
PAYMENT     1323163
CASH_IN      858500
TRANSFER     323139
DEBIT         24023
Name: type, dtype: int64

In [49]:
#creating a dictionary which will map the type columns value to a numerical no.
credit_dict ={'PAYMENT':1,
             'CASH_OUT':2,
             'CASH_IN':3,
             'TRANSFER':4,
             'DEBIT':5
              }

In [50]:
#mapping the type coulmn with numerical values and adding one more column to dataset
credit_card_fraud['valtype']=credit_card_fraud['type'].map(credit_dict)
print(credit_card_fraud)

         step      type     amount  ... isFraud  isFlaggedFraud  valtype
0           1   PAYMENT    9839.64  ...       0             0.0        1
1           1   PAYMENT    1864.28  ...       0             0.0        1
2           1  TRANSFER     181.00  ...       1             0.0        4
3           1  CASH_OUT     181.00  ...       1             0.0        2
4           1   PAYMENT   11668.14  ...       0             0.0        1
...       ...       ...        ...  ...     ...             ...      ...
3925155   285  CASH_OUT   99022.47  ...       0             0.0        2
3925156   285  CASH_OUT  231724.37  ...       0             0.0        2
3925157   285   PAYMENT      32.75  ...       0             0.0        1
3925158   285     DEBIT    1131.26  ...       0             0.0        5
3925159   285  TRANSFER  325725.86  ...       0             NaN        4

[3925160 rows x 12 columns]

In [51]:
#the sum of all null columns in  the entire row
credit_card_fraud.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    1
valtype           0
dtype: int64

In [52]:
#getting the info 
credit_card_fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3925160 entries, 0 to 3925159
Data columns (total 12 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  float64
 11  valtype         int64
dtypes: float64(6), int64(3), object(3)
memory usage: 359.4+ MB

In [53]:
#checking for empty columns on the dataset
credit_card_fraud['isFraud'].isnull()

0          False
1          False
2          False
3          False
4          False
           ...
3925155    False
3925156    False
3925157    False
3925158    False
3925159    False
Name: isFraud, Length: 3925160, dtype: bool

In [54]:
#Dropping of the nan values 
#confirming if there is still null values
credit_card_fraud.dropna(inplace=True)
credit_card_fraud['isFraud'].isnull()

0          False
1          False
2          False
3          False
4          False
           ...
3925154    False
3925155    False
3925156    False
3925157    False
3925158    False
Name: isFraud, Length: 3925159, dtype: bool

In [55]:
#confirming if there is still null values
credit_card_fraud.describe()

               step        amount  ...  isFlaggedFraud       valtype
count  3.925159e+06  3.925159e+06  ...    3.925159e+06  3.925159e+06
mean   1.560678e+02  1.563652e+05  ...    7.643002e-07  2.064630e+00
std    8.831974e+01  3.710026e+05  ...    8.742424e-04  9.674813e-01
min    1.000000e+00  0.000000e+00  ...    0.000000e+00  1.000000e+00
25%    4.400000e+01  1.227627e+04  ...    0.000000e+00  1.000000e+00
50%    1.780000e+02  7.429630e+04  ...    0.000000e+00  2.000000e+00
75%    2.300000e+02  2.064070e+05  ...    0.000000e+00  3.000000e+00
max    2.850000e+02  9.244552e+07  ...    1.000000e+00  5.000000e+00

[8 rows x 9 columns]

In [56]:
#confirming the dropped row is successful by checking the number of rows 69857
credit_card_fraud

         step      type     amount  ... isFraud  isFlaggedFraud  valtype
0           1   PAYMENT    9839.64  ...       0             0.0        1
1           1   PAYMENT    1864.28  ...       0             0.0        1
2           1  TRANSFER     181.00  ...       1             0.0        4
3           1  CASH_OUT     181.00  ...       1             0.0        2
4           1   PAYMENT   11668.14  ...       0             0.0        1
...       ...       ...        ...  ...     ...             ...      ...
3925154   285   PAYMENT   11940.44  ...       0             0.0        1
3925155   285  CASH_OUT   99022.47  ...       0             0.0        2
3925156   285  CASH_OUT  231724.37  ...       0             0.0        2
3925157   285   PAYMENT      32.75  ...       0             0.0        1
3925158   285     DEBIT    1131.26  ...       0             0.0        5

[3925159 rows x 12 columns]

In [57]:
#separating data for analysis
legitTransaction = credit_card_fraud[credit_card_fraud['isFraud']==0]
fradTransaction = credit_card_fraud[credit_card_fraud['isFraud']==1]

In [58]:
#reading the transations
print(legitTransaction)
print(fradTransaction)

         step      type     amount  ... isFraud  isFlaggedFraud  valtype
0           1   PAYMENT    9839.64  ...       0             0.0        1
1           1   PAYMENT    1864.28  ...       0             0.0        1
4           1   PAYMENT   11668.14  ...       0             0.0        1
5           1   PAYMENT    7817.71  ...       0             0.0        1
6           1   PAYMENT    7107.77  ...       0             0.0        1
...       ...       ...        ...  ...     ...             ...      ...
3925154   285   PAYMENT   11940.44  ...       0             0.0        1
3925155   285  CASH_OUT   99022.47  ...       0             0.0        2
3925156   285  CASH_OUT  231724.37  ...       0             0.0        2
3925157   285   PAYMENT      32.75  ...       0             0.0        1
3925158   285     DEBIT    1131.26  ...       0             0.0        5

[3921920 rows x 12 columns]
         step      type      amount  ... isFraud  isFlaggedFraud  valtype
2           1  TRANSFER      181.00  ...       1             0.0        4
3           1  CASH_OUT      181.00  ...       1             0.0        2
251         1  TRANSFER     2806.00  ...       1             0.0        4
252         1  CASH_OUT     2806.00  ...       1             0.0        2
680         1  TRANSFER    20128.00  ...       1             0.0        4
...       ...       ...         ...  ...     ...             ...      ...
3916155   284  CASH_OUT   498747.55  ...       1             0.0        2
3922753   285  TRANSFER  4452001.07  ...       1             0.0        4
3922754   285  CASH_OUT  4452001.07  ...       1             0.0        2
3924881   285  TRANSFER   752639.78  ...       1             0.0        4
3924882   285  CASH_OUT   752639.78  ...       1             0.0        2

[3239 rows x 12 columns]

In [59]:
#statistical measures of data
legitTransaction['amount'].describe()

count    3.921920e+06
mean     1.553862e+05
std      3.641820e+05
min      2.000000e-02
25%      1.226356e+04
50%      7.417395e+04
75%      2.061832e+05
max      9.244552e+07
Name: amount, dtype: float64

In [60]:
#statistical measures of data
legitTransaction['amount'].describe()

count    3.921920e+06
mean     1.553862e+05
std      3.641820e+05
min      2.000000e-02
25%      1.226356e+04
50%      7.417395e+04
75%      2.061832e+05
max      9.244552e+07
Name: amount, dtype: float64

In [61]:
#transaction counts for legit and fraud 
legitTransaction.count()

step              3921920
type              3921920
amount            3921920
nameOrig          3921920
oldbalanceOrg     3921920
newbalanceOrig    3921920
nameDest          3921920
oldbalanceDest    3921920
newbalanceDest    3921920
isFraud           3921920
isFlaggedFraud    3921920
valtype           3921920
dtype: int64

In [62]:
fradTransaction.count()

step              3239
type              3239
amount            3239
nameOrig          3239
oldbalanceOrg     3239
newbalanceOrig    3239
nameDest          3239
oldbalanceDest    3239
newbalanceDest    3239
isFraud           3239
isFlaggedFraud    3239
valtype           3239
dtype: int64

In [81]:
#Sample dataset containing similar distribution of legit transacton and the fraudent
#legit transactions are 3921920
#fradulent transactions 3239

legitTransactionSample=legitTransaction.sample(n=3239)

In [82]:
print(legitTransactionSample.count())
print(fradTransaction.count())
print(legitTransaction.columns)

step              3239
type              3239
amount            3239
nameOrig          3239
oldbalanceOrg     3239
newbalanceOrig    3239
nameDest          3239
oldbalanceDest    3239
newbalanceDest    3239
isFraud           3239
isFlaggedFraud    3239
valtype           3239
dtype: int64
step              3239
type              3239
amount            3239
nameOrig          3239
oldbalanceOrg     3239
newbalanceOrig    3239
nameDest          3239
oldbalanceDest    3239
newbalanceDest    3239
isFraud           3239
isFlaggedFraud    3239
valtype           3239
dtype: int64
Index(['step', 'type', 'amount', 'nameOrig', 'oldbalanceOrg', 'newbalanceOrig',
       'nameDest', 'oldbalanceDest', 'newbalanceDest', 'isFraud',
       'isFlaggedFraud', 'valtype'],
      dtype='object')

In [83]:
credit_card_fraud

         step      type     amount  ... isFraud  isFlaggedFraud  valtype
0           1   PAYMENT    9839.64  ...       0             0.0        1
1           1   PAYMENT    1864.28  ...       0             0.0        1
2           1  TRANSFER     181.00  ...       1             0.0        4
3           1  CASH_OUT     181.00  ...       1             0.0        2
4           1   PAYMENT   11668.14  ...       0             0.0        1
...       ...       ...        ...  ...     ...             ...      ...
3925154   285   PAYMENT   11940.44  ...       0             0.0        1
3925155   285  CASH_OUT   99022.47  ...       0             0.0        2
3925156   285  CASH_OUT  231724.37  ...       0             0.0        2
3925157   285   PAYMENT      32.75  ...       0             0.0        1
3925158   285     DEBIT    1131.26  ...       0             0.0        5

[3925159 rows x 12 columns]

In [84]:
#Concat two dataframes
new_CreditCard=pd.concat([legitTransactionSample,fradTransaction],axis=0)

In [85]:
#reading the new dataframe
new_CreditCard

         step      type      amount  ... isFraud  isFlaggedFraud  valtype
1900065   165  CASH_OUT    68020.74  ...       0             0.0        2
3867098   283  CASH_OUT    65797.06  ...       0             0.0        2
3064379   234   PAYMENT    19712.93  ...       0             0.0        1
420666     18  CASH_OUT   100409.90  ...       0             0.0        2
449419     19   PAYMENT     9833.01  ...       0             0.0        1
...       ...       ...         ...  ...     ...             ...      ...
3916155   284  CASH_OUT   498747.55  ...       1             0.0        2
3922753   285  TRANSFER  4452001.07  ...       1             0.0        4
3922754   285  CASH_OUT  4452001.07  ...       1             0.0        2
3924881   285  TRANSFER   752639.78  ...       1             0.0        4
3924882   285  CASH_OUT   752639.78  ...       1             0.0        2

[6478 rows x 12 columns]

In [86]:
#confirming the change in statistical distribution
new_CreditCard['type'].value_counts()

CASH_OUT    2766
TRANSFER    1863
PAYMENT     1096
CASH_IN      733
DEBIT         20
Name: type, dtype: int64

In [87]:
new_CreditCard.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6478 entries, 1900065 to 3924882
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            6478 non-null   int64
 1   type            6478 non-null   object
 2   amount          6478 non-null   float64
 3   nameOrig        6478 non-null   object
 4   oldbalanceOrg   6478 non-null   float64
 5   newbalanceOrig  6478 non-null   float64
 6   nameDest        6478 non-null   object
 7   oldbalanceDest  6478 non-null   float64
 8   newbalanceDest  6478 non-null   float64
 9   isFraud         6478 non-null   int64
 10  isFlaggedFraud  6478 non-null   float64
 11  valtype         6478 non-null   int64
dtypes: float64(6), int64(3), object(3)
memory usage: 657.9+ KB

In [88]:
#confirming statistical distribution by group by
new_CreditCard.groupby('isFraud').mean()

               step        amount  ...  isFlaggedFraud   valtype
isFraud                            ...
0        156.861686  1.452152e+05  ...        0.000000  2.062674
1        142.055264  1.341753e+06  ...        0.000926  2.994134

[2 rows x 8 columns]

In [89]:
new_CreditCard

         step      type      amount  ... isFraud  isFlaggedFraud  valtype
1900065   165  CASH_OUT    68020.74  ...       0             0.0        2
3867098   283  CASH_OUT    65797.06  ...       0             0.0        2
3064379   234   PAYMENT    19712.93  ...       0             0.0        1
420666     18  CASH_OUT   100409.90  ...       0             0.0        2
449419     19   PAYMENT     9833.01  ...       0             0.0        1
...       ...       ...         ...  ...     ...             ...      ...
3916155   284  CASH_OUT   498747.55  ...       1             0.0        2
3922753   285  TRANSFER  4452001.07  ...       1             0.0        4
3922754   285  CASH_OUT  4452001.07  ...       1             0.0        2
3924881   285  TRANSFER   752639.78  ...       1             0.0        4
3924882   285  CASH_OUT   752639.78  ...       1             0.0        2

[6478 rows x 12 columns]

In [90]:
#printing the new data
X = new_CreditCard.drop(columns=['type','nameOrig','nameDest','isFraud'])
Y= new_CreditCard['isFraud']
print(X)
print(Y)

         step      amount  ...  isFlaggedFraud  valtype
1900065   165    68020.74  ...             0.0        2
3867098   283    65797.06  ...             0.0        2
3064379   234    19712.93  ...             0.0        1
420666     18   100409.90  ...             0.0        2
449419     19     9833.01  ...             0.0        1
...       ...         ...  ...             ...      ...
3916155   284   498747.55  ...             0.0        2
3922753   285  4452001.07  ...             0.0        4
3922754   285  4452001.07  ...             0.0        2
3924881   285   752639.78  ...             0.0        4
3924882   285   752639.78  ...             0.0        2

[6478 rows x 8 columns]
1900065    0
3867098    0
3064379    0
420666     0
449419     0
          ..
3916155    1
3922753    1
3922754    1
3924881    1
3924882    1
Name: isFraud, Length: 6478, dtype: int64

In [93]:
#Dividing the data into training and test data
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,stratify=Y,random_state=456)

In [94]:
#confirming the data
print(X_train)
print(Y_train)

         step      amount  ...  isFlaggedFraud  valtype
3119962   236     8360.86  ...             0.0        1
143437     11   376783.39  ...             0.0        2
3657624   275  4162555.99  ...             0.0        4
3608569   265   415437.27  ...             0.0        4
605779     34    51424.22  ...             0.0        2
...       ...         ...  ...             ...      ...
3233940   250   316050.41  ...             0.0        3
1510963   146   322329.78  ...             0.0        2
3513189   259     5398.49  ...             0.0        2
1110354   130   106682.99  ...             0.0        3
2801097   219  2312944.11  ...             0.0        4

[4858 rows x 8 columns]
3119962    0
143437     0
3657624    1
3608569    1
605779     1
          ..
3233940    0
1510963    1
3513189    0
1110354    0
2801097    1
Name: isFraud, Length: 4858, dtype: int64

In [95]:
print(Y_test)
print(X_test)

10218      1
1756799    0
2780306    1
3230305    1
2217315    1
          ..
1141252    1
1511386    1
1030394    1
3153662    0
3351696    0
Name: isFraud, Length: 1620, dtype: int64
         step       amount  ...  isFlaggedFraud  valtype
10218       7     21729.00  ...             0.0        4
1756799   161     71446.18  ...             0.0        3
2780306   214     39525.63  ...             0.0        2
3230305   250    177217.55  ...             0.0        4
2217315   186    327282.92  ...             0.0        4
...       ...          ...  ...             ...      ...
1141252   131  10000000.00  ...             0.0        2
1511386   152   2175288.90  ...             0.0        4
1030394    61   1372301.24  ...             0.0        2
3153662   237    206554.71  ...             0.0        3
3351696   253      3273.21  ...             0.0        1

[1620 rows x 8 columns]

In [96]:
#Modelling Training with Logistic Regression Model
model = LogisticRegression(C=1e5)

In [97]:
#Training the logistic regression model with training data
print(X_train)

         step      amount  ...  isFlaggedFraud  valtype
3119962   236     8360.86  ...             0.0        1
143437     11   376783.39  ...             0.0        2
3657624   275  4162555.99  ...             0.0        4
3608569   265   415437.27  ...             0.0        4
605779     34    51424.22  ...             0.0        2
...       ...         ...  ...             ...      ...
3233940   250   316050.41  ...             0.0        3
1510963   146   322329.78  ...             0.0        2
3513189   259     5398.49  ...             0.0        2
1110354   130   106682.99  ...             0.0        3
2801097   219  2312944.11  ...             0.0        4

[4858 rows x 8 columns]

In [106]:
X_train

         step      amount  ...  isFlaggedFraud  valtype
3119962   236     8360.86  ...             0.0        1
143437     11   376783.39  ...             0.0        2
3657624   275  4162555.99  ...             0.0        4
3608569   265   415437.27  ...             0.0        4
605779     34    51424.22  ...             0.0        2
...       ...         ...  ...             ...      ...
3233940   250   316050.41  ...             0.0        3
1510963   146   322329.78  ...             0.0        2
3513189   259     5398.49  ...             0.0        2
1110354   130   106682.99  ...             0.0        3
2801097   219  2312944.11  ...             0.0        4

[4858 rows x 8 columns]

In [107]:
#Training the logistic regression model with training data
model.fit(X_train,Y_train)

LogisticRegression(C=100000.0, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [116]:
#Model Evaluation with Accuracy Score
#accuracy on training data
X_predict =np.array(model.predict(X_train))
X_Train_Accuracy =accuracy_score(X_predict,Y_train)
print('Our training data accuracy model score is: ',X_Train_Accuracy)

Our training data accuracy model score is:  0.9279538904899135

In [119]:
#Model Evaluation with confusion matrix
#training data confusion matrix score
X_predict =np.array(model.predict(X_train))
X_Train_Confusion_Score = confusion_matrix(X_predict,Y_train)
print('Our training data confusion matrix model score is: ',X_Train_Confusion_Score)

Our training data confusion matrix model score is:  [[2338  259]
 [  91 2170]]

In [121]:
#Model Evaluation with classification report
#training data classification report
X_predict =np.array(model.predict(X_train))
X_train_CR = classification_report(X_predict,Y_train)
print('Our training data classification report is: ',X_train_CR)

Our training data classification report is:                precision    recall  f1-score   support

           0       0.96      0.90      0.93      2597
           1       0.89      0.96      0.93      2261

    accuracy                           0.93      4858
   macro avg       0.93      0.93      0.93      4858
weighted avg       0.93      0.93      0.93      4858

In [80]:
#Model Evaluation with Accuracy Score
#accuracy on training data
X_predict =np.array(model.predict(X_train))
X_Train_Accuracy =accuracy_score(X_predict,Y_train)
X_Train_Accuracy