In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [2]:
#loading of the data to panda data frame
credit_card_fraud=pd.read_csv("SyntheticFraudData.csv")
credit_card_fraud

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.00,160296.36,M1979787155,0.00,0.00,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.00,19384.72,M2044282225,0.00,0.00,0,0
2,1,TRANSFER,181.00,C1305486145,181.00,0.00,C553264065,0.00,0.00,1,0
3,1,CASH_OUT,181.00,C840083671,181.00,0.00,C38997010,21182.00,0.00,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.00,29885.86,M1230701703,0.00,0.00,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [3]:
#analysing the statistics of data
credit_card_fraud.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06,6.362620e+06
mean,2.433972e+02,1.798619e+05,8.338831e+05,8.551137e+05,1.100702e+06,1.224996e+06,1.290820e-03,2.514687e-06
std,1.423320e+02,6.038582e+05,2.888243e+06,2.924049e+06,3.399180e+06,3.674129e+06,3.590480e-02,1.585775e-03
min,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.560000e+02,1.338957e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,2.390000e+02,7.487194e+04,1.420800e+04,0.000000e+00,1.327057e+05,2.146614e+05,0.000000e+00,0.000000e+00
75%,3.350000e+02,2.087215e+05,1.073152e+05,1.442584e+05,9.430367e+05,1.111909e+06,0.000000e+00,0.000000e+00
max,7.430000e+02,9.244552e+07,5.958504e+07,4.958504e+07,3.560159e+08,3.561793e+08,1.000000e+00,1.000000e+00

In [4]:
#getting the info 
credit_card_fraud.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6362620 entries, 0 to 6362619
Data columns (total 11 columns):
 #   Column          Dtype
---  ------          -----
 0   step            int64
 1   type            object
 2   amount          float64
 3   nameOrig        object
 4   oldbalanceOrg   float64
 5   newbalanceOrig  float64
 6   nameDest        object
 7   oldbalanceDest  float64
 8   newbalanceDest  float64
 9   isFraud         int64
 10  isFlaggedFraud  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 534.0+ MB

In [42]:
#checking for empty columns on the dataset
credit_card_fraud['isFraud'].isnull()

0          False
1          False
2          False
3          False
4          False
           ...
6362615    False
6362616    False
6362617    False
6362618    False
6362619    False
Name: isFraud, Length: 6362619, dtype: bool

In [6]:
#the sum of all null columns in  the entire row
credit_card_fraud.isnull().sum()

step              0
type              0
amount            0
nameOrig          0
oldbalanceOrg     0
newbalanceOrig    0
nameDest          0
oldbalanceDest    0
newbalanceDest    0
isFraud           0
isFlaggedFraud    0
dtype: int64

In [7]:
#checking for the fraud and legit transactions value counts
credit_card_fraud['isFraud'].value_counts()

0    6354407
1       8213
Name: isFraud, dtype: int64

In [8]:
#dropping the row containing null values
credit_card_fraud.drop([3519656],inplace=True)

In [9]:
#confirming the dropped row
credit_card_fraud.isnull()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
6362615,False,False,False,False,False,False,False,False,False,False,False
6362616,False,False,False,False,False,False,False,False,False,False,False
6362617,False,False,False,False,False,False,False,False,False,False,False
6362618,False,False,False,False,False,False,False,False,False,False,False
6362619,False,False,False,False,False,False,False,False,False,False,False

In [10]:
#separating data for analysis
legitTransaction = credit_card_fraud[credit_card_fraud['isFraud']==0]
fradTransaction = credit_card_fraud[credit_card_fraud['isFraud']==1]

In [11]:
#reading the transations
print(legitTransaction)
print(fradTransaction)

         step      type     amount     nameOrig  oldbalanceOrg  \
0           1   PAYMENT    9839.64  C1231006815       170136.0
1           1   PAYMENT    1864.28  C1666544295        21249.0
4           1   PAYMENT   11668.14  C2048537720        41554.0
5           1   PAYMENT    7817.71    C90045638        53860.0
6           1   PAYMENT    7107.77   C154988899       183195.0
...       ...       ...        ...          ...            ...
6362319   718   PAYMENT    8634.29   C642813806       518802.0
6362320   718  CASH_OUT  159188.22   C691808084         3859.0
6362321   718  CASH_OUT  186273.84   C102120699       168046.0
6362322   718  TRANSFER   82096.45   C614459560        13492.0
6362323   718     DEBIT    1864.24    C49652609        20426.0

         newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  isFraud  \
0             160296.36  M1979787155            0.00            0.00        0
1              19384.72  M2044282225            0.00            0.00        0
4              29885.86  M1230701703            0.00            0.00        0
5              46042.29   M573487274            0.00            0.00        0
6             176087.23   M408069119            0.00            0.00        0
...                 ...          ...             ...             ...      ...
6362319       510167.71   M747723689            0.00            0.00        0
6362320            0.00  C1818183087            0.00       159188.22        0
6362321            0.00  C1515639522        24893.67       211167.51        0
6362322            0.00   C855350324            0.00        82096.45        0
6362323        18561.76  C1799009964       188746.00       190610.24        0

         isFlaggedFraud
0                     0
1                     0
4                     0
5                     0
6                     0
...                 ...
6362319               0
6362320               0
6362321               0
6362322               0
6362323               0

[6354406 rows x 11 columns]
         step      type      amount     nameOrig  oldbalanceOrg  \
2           1  TRANSFER      181.00  C1305486145         181.00
3           1  CASH_OUT      181.00   C840083671         181.00
251         1  TRANSFER     2806.00  C1420196421        2806.00
252         1  CASH_OUT     2806.00  C2101527076        2806.00
680         1  TRANSFER    20128.00   C137533655       20128.00
...       ...       ...         ...          ...            ...
6362615   743  CASH_OUT   339682.13   C786484425      339682.13
6362616   743  TRANSFER  6311409.28  C1529008245     6311409.28
6362617   743  CASH_OUT  6311409.28  C1162922333     6311409.28
6362618   743  TRANSFER   850002.52  C1685995037      850002.52
6362619   743  CASH_OUT   850002.52  C1280323807      850002.52

         newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  isFraud  \
2                   0.0   C553264065            0.00            0.00        1
3                   0.0    C38997010        21182.00            0.00        1
251                 0.0   C972765878            0.00            0.00        1
252                 0.0  C1007251739        26202.00            0.00        1
680                 0.0  C1848415041            0.00            0.00        1
...                 ...          ...             ...             ...      ...
6362615             0.0   C776919290            0.00       339682.13        1
6362616             0.0  C1881841831            0.00            0.00        1
6362617             0.0  C1365125890        68488.84      6379898.11        1
6362618             0.0  C2080388513            0.00            0.00        1
6362619             0.0   C873221189      6510099.11      7360101.63        1

         isFlaggedFraud
2                     0
3                     0
251                   0
252                   0
680                   0
...                 ...
6362615               0
6362616               0
6362617               0
6362618               0
6362619               0

[8213 rows x 11 columns]

In [12]:
#statistical measures of data
legitTransaction['amount'].describe()

count    6.354406e+06
mean     1.781971e+05
std      5.962370e+05
min      1.000000e-02
25%      1.336839e+04
50%      7.468474e+04
75%      2.083648e+05
max      9.244552e+07
Name: amount, dtype: float64

In [13]:
#statistical measures of data
legitTransaction['amount'].describe()

count    6.354406e+06
mean     1.781971e+05
std      5.962370e+05
min      1.000000e-02
25%      1.336839e+04
50%      7.468474e+04
75%      2.083648e+05
max      9.244552e+07
Name: amount, dtype: float64

In [14]:
#checking the statistical distribution of data
credit_card_fraud.groupby('isFraud').mean()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
isFraud,,,,,,,
0,243.235661,1.781971e+05,8.328288e+05,855970.349478,1.101421e+06,1.224926e+06,0.000000
1,368.413856,1.467967e+06,1.649668e+06,192392.631836,5.442496e+05,1.279708e+06,0.001948

In [15]:
#transaction counts for legit and fraud 
legitTransaction.count()

step              6354406
type              6354406
amount            6354406
nameOrig          6354406
oldbalanceOrg     6354406
newbalanceOrig    6354406
nameDest          6354406
oldbalanceDest    6354406
newbalanceDest    6354406
isFraud           6354406
isFlaggedFraud    6354406
dtype: int64

In [16]:
fradTransaction.count()

step              8213
type              8213
amount            8213
nameOrig          8213
oldbalanceOrg     8213
newbalanceOrig    8213
nameDest          8213
oldbalanceDest    8213
newbalanceDest    8213
isFraud           8213
isFlaggedFraud    8213
dtype: int64

In [17]:
#Sample dataset containing similar distribution of legit transacton and the fraudent
#legit transactions are 3516747
#fradulent transactions 2909

legitTransactionSample=legitTransaction.sample(n=2909)

In [18]:
legitTransactionSample.count()

step              2909
type              2909
amount            2909
nameOrig          2909
oldbalanceOrg     2909
newbalanceOrig    2909
nameDest          2909
oldbalanceDest    2909
newbalanceDest    2909
isFraud           2909
isFlaggedFraud    2909
dtype: int64

In [19]:
fradTransaction.count()

step              8213
type              8213
amount            8213
nameOrig          8213
oldbalanceOrg     8213
newbalanceOrig    8213
nameDest          8213
oldbalanceDest    8213
newbalanceDest    8213
isFraud           8213
isFlaggedFraud    8213
dtype: int64

In [20]:
#Concat two dataframes
new_CreditCard=pd.concat([legitTransactionSample,fradTransaction],axis=0)

In [21]:
#reading the new dataframe
new_CreditCard

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
493864,20,PAYMENT,4091.69,C1563157561,80230.74,76139.05,M2117831036,0.00,0.00,0,0
412218,18,PAYMENT,10078.21,C84442195,0.00,0.00,M1805982117,0.00,0.00,0,0
1095138,130,CASH_IN,40829.86,C806579757,8579809.70,8620639.57,C786586159,525823.19,484993.32,0,0
1579424,155,CASH_OUT,71986.24,C55455224,142.00,0.00,C1488706753,542898.65,614884.89,0,0
3718384,278,CASH_OUT,120712.33,C1295947417,270159.66,149447.33,C2009668592,2069192.82,2189905.14,0,0
...,...,...,...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,C786484425,339682.13,0.00,C776919290,0.00,339682.13,1,0
6362616,743,TRANSFER,6311409.28,C1529008245,6311409.28,0.00,C1881841831,0.00,0.00,1,0
6362617,743,CASH_OUT,6311409.28,C1162922333,6311409.28,0.00,C1365125890,68488.84,6379898.11,1,0
6362618,743,TRANSFER,850002.52,C1685995037,850002.52,0.00,C2080388513,0.00,0.00,1,0
6362619,743,CASH_OUT,850002.52,C1280323807,850002.52,0.00,C873221189,6510099.11,7360101.63,1,0

In [22]:
#confirming the change in statistical distribution
new_CreditCard.describe()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
count,11122.000000,1.112200e+04,1.112200e+04,1.112200e+04,1.112200e+04,1.112200e+04,11122.000000,11122.000000
mean,335.532998,1.130542e+06,1.416757e+06,3.469205e+05,6.932661e+05,1.267242e+06,0.738446,0.001439
std,207.939429,2.164602e+06,3.350109e+06,2.180018e+06,3.193518e+06,3.679789e+06,0.439501,0.037903
min,1.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,164.000000,7.221799e+04,4.174743e+04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,314.000000,2.636119e+05,2.535735e+05,0.000000e+00,0.000000e+00,7.072655e+04,1.000000,0.000000
75%,501.750000,9.888812e+05,1.158397e+06,0.000000e+00,3.334195e+05,1.083803e+06,1.000000,0.000000
max,743.000000,1.978301e+07,5.958504e+07,4.958504e+07,2.362305e+08,2.367265e+08,1.000000,1.000000

In [23]:
new_CreditCard.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11122 entries, 493864 to 6362619
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   step            11122 non-null  int64
 1   type            11122 non-null  object
 2   amount          11122 non-null  float64
 3   nameOrig        11122 non-null  object
 4   oldbalanceOrg   11122 non-null  float64
 5   newbalanceOrig  11122 non-null  float64
 6   nameDest        11122 non-null  object
 7   oldbalanceDest  11122 non-null  float64
 8   newbalanceDest  11122 non-null  float64
 9   isFraud         11122 non-null  int64
 10  isFlaggedFraud  11122 non-null  int64
dtypes: float64(5), int64(3), object(3)
memory usage: 1.0+ MB

In [24]:
#confirming statistical distribution by group by
new_CreditCard.groupby('isFraud').mean()

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
isFraud,,,,,,,
0,242.700241,1.778851e+05,7.591800e+05,783200.257061,1.113985e+06,1.232049e+06,0.000000
1,368.413856,1.467967e+06,1.649668e+06,192392.631836,5.442496e+05,1.279708e+06,0.001948

In [25]:
#Splitting the data into Features and targets,and droping the non numerical columns
X=new_CreditCard.drop(columns=['isFraud','type','nameOrig','nameDest'],axis=1)
Y=new_CreditCard['isFraud']

In [26]:
#printing the new data
X

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
493864,20,4091.69,80230.74,76139.05,0.00,0.00,0
412218,18,10078.21,0.00,0.00,0.00,0.00,0
1095138,130,40829.86,8579809.70,8620639.57,525823.19,484993.32,0
1579424,155,71986.24,142.00,0.00,542898.65,614884.89,0
3718384,278,120712.33,270159.66,149447.33,2069192.82,2189905.14,0
...,...,...,...,...,...,...,...
6362615,743,339682.13,339682.13,0.00,0.00,339682.13,0
6362616,743,6311409.28,6311409.28,0.00,0.00,0.00,0
6362617,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,0
6362618,743,850002.52,850002.52,0.00,0.00,0.00,0
6362619,743,850002.52,850002.52,0.00,6510099.11,7360101.63,0

In [27]:
#Dividing the data into training and test data
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,stratify=Y,random_state=4)

In [28]:
#confirming the data
print(X_train)
print(Y_train)

         step       amount  oldbalanceOrg  newbalanceOrig  oldbalanceDest  \
6176230   565    757401.17      757401.17            0.00       465267.97
5996401   425  10000000.00    49585040.37     39585040.37            0.00
870090     42   3569720.42     3569720.42            0.00            0.00
6017262   451    427756.67      838143.66      1265900.33      1404401.70
1982278   179    106740.92           0.00            0.00       167452.21
...       ...          ...            ...             ...             ...
5987942   412    571163.03      571163.03            0.00            0.00
2574080   207    234317.69       32295.00            0.00        14326.81
5188011   363   1715635.41     1715635.41            0.00            0.00
2831650   226    108608.82          44.00       108652.82       351445.44
5987915   410    206985.26      206985.26            0.00         1372.42

         newbalanceDest  isFlaggedFraud
6176230      1222669.13               0
5996401            0.00               0
870090       3569720.42               0
6017262       976645.03               0
1982278       274193.13               0
...                 ...             ...
5987942            0.00               0
2574080       248644.51               0
5188011      1715635.41               0
2831650       242836.62               0
5987915       208357.68               0

[8341 rows x 7 columns]
6176230    1
5996401    1
870090     1
6017262    0
1982278    0
          ..
5987942    1
2574080    0
5188011    1
2831650    0
5987915    1
Name: isFraud, Length: 8341, dtype: int64

In [29]:
print(Y_test)
print(X_test)

431989     0
4832416    0
1569385    1
3960326    1
6266291    1
          ..
3611003    1
2714605    1
6272187    1
4497877    0
2346102    0
Name: isFraud, Length: 2781, dtype: int64
         step      amount  oldbalanceOrg  newbalanceOrig  oldbalanceDest  \
431989     18     1422.85           0.00            0.00            0.00
4832416   347   409872.39       60612.00            0.00        74590.46
1569385   155   242179.39      242179.39            0.00       107058.15
3960326   296   890964.06      890964.06            0.00            0.00
6266291   616  7240965.96     7240965.96            0.00            0.00
...       ...         ...            ...             ...             ...
3611003   271   642364.74      642364.74            0.00            0.00
2714605   211    73599.57       73599.57            0.00            0.00
6272187   621   425861.93      425861.93            0.00            0.00
4497877   325    11731.35     3138666.72      3150398.07       136047.82
2346102   189   316321.00       15679.00            0.00       453371.72

         newbalanceDest  isFlaggedFraud
431989             0.00               0
4832416       484462.85               0
1569385       349237.54               0
3960326            0.00               0
6266291            0.00               0
...                 ...             ...
3611003            0.00               0
2714605        73599.57               0
6272187            0.00               0
4497877       124316.47               0
2346102      1050050.81               0

[2781 rows x 7 columns]

In [30]:
#Modelling Training with Logistic Regression Model
model = LogisticRegression(C=1e5)

In [31]:
#Training the logistic regression model with training data
print(X_train)

         step       amount  oldbalanceOrg  newbalanceOrig  oldbalanceDest  \
6176230   565    757401.17      757401.17            0.00       465267.97
5996401   425  10000000.00    49585040.37     39585040.37            0.00
870090     42   3569720.42     3569720.42            0.00            0.00
6017262   451    427756.67      838143.66      1265900.33      1404401.70
1982278   179    106740.92           0.00            0.00       167452.21
...       ...          ...            ...             ...             ...
5987942   412    571163.03      571163.03            0.00            0.00
2574080   207    234317.69       32295.00            0.00        14326.81
5188011   363   1715635.41     1715635.41            0.00            0.00
2831650   226    108608.82          44.00       108652.82       351445.44
5987915   410    206985.26      206985.26            0.00         1372.42

         newbalanceDest  isFlaggedFraud
6176230      1222669.13               0
5996401            0.00               0
870090       3569720.42               0
6017262       976645.03               0
1982278       274193.13               0
...                 ...             ...
5987942            0.00               0
2574080       248644.51               0
5188011      1715635.41               0
2831650       242836.62               0
5987915       208357.68               0

[8341 rows x 7 columns]

In [32]:
X_train.columns

Index(['step', 'amount', 'oldbalanceOrg', 'newbalanceOrig', 'oldbalanceDest',
       'newbalanceDest', 'isFlaggedFraud'],
      dtype='object')

In [33]:
#Training the logistic regression model with training data
model.fit(X_train,Y_train)

LogisticRegression(C=100000.0)

In [34]:
X

,step,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFlaggedFraud
493864,20,4091.69,80230.74,76139.05,0.00,0.00,0
412218,18,10078.21,0.00,0.00,0.00,0.00,0
1095138,130,40829.86,8579809.70,8620639.57,525823.19,484993.32,0
1579424,155,71986.24,142.00,0.00,542898.65,614884.89,0
3718384,278,120712.33,270159.66,149447.33,2069192.82,2189905.14,0
...,...,...,...,...,...,...,...
6362615,743,339682.13,339682.13,0.00,0.00,339682.13,0
6362616,743,6311409.28,6311409.28,0.00,0.00,0.00,0
6362617,743,6311409.28,6311409.28,0.00,68488.84,6379898.11,0
6362618,743,850002.52,850002.52,0.00,0.00,0.00,0
6362619,743,850002.52,850002.52,0.00,6510099.11,7360101.63,0

In [35]:
#Model Evaluation with Accuracy Score
#accuracy on training data
X_train_prediction = np.array(model.predict(X_train))
training_data_accuracy =np.array(accuracy_score(X_train_prediction,Y_train))

In [36]:
print('Our training data accuracy model score is: ',training_data_accuracy)

Our training data accuracy model score is:  0.8947368421052632

In [37]:
#accuracy on the test data
X_test_prediction = np.array(model.predict(X_test))
test_data_accuracy =np.array(accuracy_score(X_test_prediction,Y_test))

In [38]:
print('Our test data accuracy model score is: ',test_data_accuracy)

Our test data accuracy model score is:  0.8781014023732471

In [39]:
print(confusion_matrix(X_test_prediction,Y_test))

[[ 413   25]
 [ 314 2029]]

In [40]:
print(classification_report(X_test_prediction,Y_test))

              precision    recall  f1-score   support

           0       0.57      0.94      0.71       438
           1       0.99      0.87      0.92      2343

    accuracy                           0.88      2781
   macro avg       0.78      0.90      0.82      2781
weighted avg       0.92      0.88      0.89      2781