<a href="https://colab.research.google.com/github/TolleDennis/CreditCardFraud/blob/main/ProjectD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!cat /proc/meminfo

MemTotal:       13302928 kB
MemFree:         2235828 kB
MemAvailable:    4290108 kB
Buffers:          123208 kB
Cached:          2036816 kB
SwapCached:            0 kB
Active:          1017668 kB
Inactive:        1601724 kB
Active(anon):     395132 kB
Inactive(anon):      420 kB
Active(file):     622536 kB
Inactive(file):  1601304 kB
Unevictable:           0 kB
Mlocked:               0 kB
SwapTotal:             0 kB
SwapFree:              0 kB
Dirty:              3388 kB
Writeback:             0 kB
AnonPages:        459420 kB
Mapped:           251976 kB
Shmem:              1148 kB
KReclaimable:     143832 kB
Slab:             187644 kB
SReclaimable:     143832 kB
SUnreclaim:        43812 kB
KernelStack:        4672 kB
PageTables:         6076 kB
NFS_Unstable:          0 kB
Bounce:                0 kB
WritebackTmp:          0 kB
CommitLimit:     6651464 kB
Committed_AS:    3118692 kB
VmallocTotal:   34359738367 kB
VmallocUsed:        7044 kB
VmallocChunk:          0 kB
Percpu:             1400 kB
AnonHugePages:         0 kB
ShmemHugePages:        0 kB
ShmemPmdMapped:        0 kB
FileHugePages:         0 kB
FilePmdMapped:         0 kB
CmaTotal:              0 kB
CmaFree:               0 kB
HugePages_Total:       0
HugePages_Free:        0
HugePages_Rsvd:        0
HugePages_Surp:        0
Hugepagesize:       2048 kB
Hugetlb:               0 kB
DirectMap4k:       86848 kB
DirectMap2M:     4104192 kB
DirectMap1G:    11534336 kB

In [ ]:
import numpy as np
import pandas as pd
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
#loading the dataset into pandas dataframe
credit_card=pd.read_csv('creditcard.csv')
credit_card

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
0          0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1          0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2          1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3          1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4          2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0
...      ...       ...       ...       ...  ...       ...       ...     ...    ...
45641  42436 -2.481639 -2.439949  0.363642  ...  0.223071  0.139619    0.00    0.0
45642  42436  1.223475  0.014944  0.471312  ... -0.065171  0.005184    7.49    0.0
45643  42436  1.258657  0.421016  0.325437  ... -0.017156  0.032557    0.89    0.0
45644  42437 -0.500147  1.000770  1.809639  ... -0.214317 -0.229160    2.69    0.0
45645  42437 -0.652459  0.177290  1.955607  ...       NaN       NaN     NaN    NaN

[45646 rows x 31 columns]

In [ ]:
credit_card.describe()

               Time            V1  ...        Amount         Class
count  45646.000000  45646.000000  ...  45645.000000  45645.000000
mean   27545.441331     -0.237544  ...     90.829574      0.003111
std    12907.770469      1.886548  ...    240.298594      0.055690
min        0.000000    -56.407510  ...      0.000000      0.000000
25%    19891.000000     -0.985248  ...      7.580000      0.000000
50%    32447.000000     -0.246259  ...     24.990000      0.000000
75%    37571.750000      1.157412  ...     82.600000      0.000000
max    42437.000000      1.960497  ...   7879.420000      1.000000

[8 rows x 31 columns]

In [ ]:
credit_card.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45646 entries, 0 to 45645
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    45646 non-null  int64
 1   V1      45646 non-null  float64
 2   V2      45646 non-null  float64
 3   V3      45646 non-null  float64
 4   V4      45646 non-null  float64
 5   V5      45646 non-null  float64
 6   V6      45645 non-null  float64
 7   V7      45645 non-null  float64
 8   V8      45645 non-null  float64
 9   V9      45645 non-null  float64
 10  V10     45645 non-null  float64
 11  V11     45645 non-null  float64
 12  V12     45645 non-null  float64
 13  V13     45645 non-null  float64
 14  V14     45645 non-null  float64
 15  V15     45645 non-null  float64
 16  V16     45645 non-null  float64
 17  V17     45645 non-null  float64
 18  V18     45645 non-null  float64
 19  V19     45645 non-null  float64
 20  V20     45645 non-null  float64
 21  V21     45645 non-null  float64
 22  V22     45645 non-null  float64
 23  V23     45645 non-null  float64
 24  V24     45645 non-null  float64
 25  V25     45645 non-null  float64
 26  V26     45645 non-null  float64
 27  V27     45645 non-null  float64
 28  V28     45645 non-null  float64
 29  Amount  45645 non-null  float64
 30  Class   45645 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 10.8 MB

In [ ]:
#checking of missing values from every column
credit_card.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
credit_card['Class'].value_counts()

0.0    45503
1.0      142
Name: Class, dtype: int64

In [ ]:
credit_card['V25'].value_counts()

 0.233730    36
 0.393032    28
 0.061452    24
 0.636471    23
 0.814626    19
             ..
-0.240538     1
 0.162313     1
-0.553411     1
 0.596848     1
 0.335435     1
Name: V25, Length: 44627, dtype: int64

In [ ]:
credit_card['V22'].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
45641    False
45642    False
45643    False
45644    False
45645     True
Name: V22, Length: 45646, dtype: bool

In [ ]:
credit_card[credit_card['V22'].isnull()]

        Time        V1       V2        V3  ...  V27  V28  Amount  Class
45645  42437 -0.652459  0.17729  1.955607  ...  NaN  NaN     NaN    NaN

[1 rows x 31 columns]

In [ ]:
credit_card.drop([45645],inplace=True)

In [ ]:
credit_card.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
#number of legit transation and fraudent transaction
credit_card['Class'].value_counts()

0.0    45503
1.0      142
Name: Class, dtype: int64

In [ ]:
#separating data for analysis
legitTransaction = credit_card[credit_card['Class']==0]
fradTransaction = credit_card[credit_card['Class']==1]

In [ ]:
legitTransaction

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
0          0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1          0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2          1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3          1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4          2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0
...      ...       ...       ...       ...  ...       ...       ...     ...    ...
45640  42436  1.330967  0.662949 -1.089077  ... -0.027864  0.021672    0.76    0.0
45641  42436 -2.481639 -2.439949  0.363642  ...  0.223071  0.139619    0.00    0.0
45642  42436  1.223475  0.014944  0.471312  ... -0.065171  0.005184    7.49    0.0
45643  42436  1.258657  0.421016  0.325437  ... -0.017156  0.032557    0.89    0.0
45644  42437 -0.500147  1.000770  1.809639  ... -0.214317 -0.229160    2.69    0.0

[45503 rows x 31 columns]

In [ ]:
fradTransaction

        Time         V1        V2         V3  ...       V27       V28  Amount  Class
541      406  -2.312227  1.951992  -1.609851  ...  0.261145 -0.143276    0.00    1.0
623      472  -3.043541 -3.157307   1.088463  ... -0.252773  0.035764  529.00    1.0
4920    4462  -2.303350  1.759247  -0.359745  ...  0.039566 -0.153029  239.93    1.0
6108    6986  -4.397974  1.358367  -2.592844  ... -0.827136  0.849573   59.00    1.0
6329    7519   1.234235  3.019740  -4.304597  ... -0.010016  0.146793    1.00    1.0
...      ...        ...       ...        ...  ...       ...       ...     ...    ...
44091  41791  -7.222731  6.155773 -10.826460  ...  1.193695  0.257468   99.99    1.0
44223  41851 -19.139733  9.286847 -20.134992  ... -3.381843 -1.256524  139.90    1.0
44270  41870 -20.906908  9.843153 -19.947726  ... -3.765371 -1.071238    1.00    1.0
44556  41991  -4.566342  3.353451  -4.572028  ...  0.195985  0.141115    1.00    1.0
45203  42247  -2.524012  2.098152  -4.946075  ...  0.456023 -0.405682    1.00    1.0

[142 rows x 31 columns]

In [ ]:
legitTransaction.count()

Time      45503
V1        45503
V2        45503
V3        45503
V4        45503
V5        45503
V6        45503
V7        45503
V8        45503
V9        45503
V10       45503
V11       45503
V12       45503
V13       45503
V14       45503
V15       45503
V16       45503
V17       45503
V18       45503
V19       45503
V20       45503
V21       45503
V22       45503
V23       45503
V24       45503
V25       45503
V26       45503
V27       45503
V28       45503
Amount    45503
Class     45503
dtype: int64

In [ ]:
fradTransaction.count()

Time      142
V1        142
V2        142
V3        142
V4        142
V5        142
V6        142
V7        142
V8        142
V9        142
V10       142
V11       142
V12       142
V13       142
V14       142
V15       142
V16       142
V17       142
V18       142
V19       142
V20       142
V21       142
V22       142
V23       142
V24       142
V25       142
V26       142
V27       142
V28       142
Amount    142
Class     142
dtype: int64

In [ ]:
#statistical measures of data
legitTransaction['Amount'].describe()

count    45503.000000
mean        90.808470
std        240.322652
min          0.000000
25%          7.580000
50%         24.990000
75%         82.360000
max       7879.420000
Name: Amount, dtype: float64

In [ ]:
fradTransaction['Amount'].describe()

count     142.000000
mean       97.592183
std       233.185192
min         0.000000
25%         1.000000
50%         8.370000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
credit_card.groupby('Class').mean()

               Time       V1        V2  ...       V27       V28     Amount
Class                                   ...
0.0    27549.332857 -0.21371  0.011525  ...  0.003681  0.004547  90.808470
1.0    26193.556338 -7.87188  5.609155  ...  0.596174  0.034797  97.592183

[2 rows x 30 columns]

In [ ]:
#Sample dataset containing similar distribution of legit transacton and the fraudent
#legit transactions are 63306
#fradulent transactions 165

legitTransactionSample=legitTransaction.sample(n=142)

In [ ]:
#Concat two dataframes
new_CreditCard=pd.concat([legitTransactionSample,fradTransaction],axis=0)

In [ ]:
new_CreditCard

        Time         V1        V2         V3  ...       V27       V28  Amount  Class
10639  17886  -2.402543 -2.062300   1.921530  ...  0.040674 -0.245177  356.04    0.0
9420   13848   1.289493  0.015139   0.657289  ... -0.094444  0.003137   11.99    0.0
5635    5841  -0.390012  1.281082   1.671360  ...  0.222576  0.099069    4.49    0.0
14658  25879   1.288418  0.068685  -1.083333  ...  0.026974  0.019759    2.95    0.0
4360    3763   1.355310 -0.514829   0.778212  ... -0.034084  0.003125    6.60    0.0
...      ...        ...       ...        ...  ...       ...       ...     ...    ...
44091  41791  -7.222731  6.155773 -10.826460  ...  1.193695  0.257468   99.99    1.0
44223  41851 -19.139733  9.286847 -20.134992  ... -3.381843 -1.256524  139.90    1.0
44270  41870 -20.906908  9.843153 -19.947726  ... -3.765371 -1.071238    1.00    1.0
44556  41991  -4.566342  3.353451  -4.572028  ...  0.195985  0.141115    1.00    1.0
45203  42247  -2.524012  2.098152  -4.946075  ...  0.456023 -0.405682    1.00    1.0

[284 rows x 31 columns]

In [ ]:
new_CreditCard['Class'].value_counts()

1.0    142
0.0    142
Name: Class, dtype: int64

In [ ]:
new_CreditCard.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28     Amount
Class                                    ...
0.0    27369.457746  0.084298 -0.103486  ... -0.011038  0.010241  78.451197
1.0    26193.556338 -7.871880  5.609155  ...  0.596174  0.034797  97.592183

[2 rows x 30 columns]

In [ ]:
#Splitting the data into Features and targets
X=new_CreditCard.drop(columns=['Class'],axis=1)
Y=new_CreditCard['Class']

In [ ]:
print(X)

        Time         V1        V2  ...       V27       V28  Amount
10639  17886  -2.402543 -2.062300  ...  0.040674 -0.245177  356.04
9420   13848   1.289493  0.015139  ... -0.094444  0.003137   11.99
5635    5841  -0.390012  1.281082  ...  0.222576  0.099069    4.49
14658  25879   1.288418  0.068685  ...  0.026974  0.019759    2.95
4360    3763   1.355310 -0.514829  ... -0.034084  0.003125    6.60
...      ...        ...       ...  ...       ...       ...     ...
44091  41791  -7.222731  6.155773  ...  1.193695  0.257468   99.99
44223  41851 -19.139733  9.286847  ... -3.381843 -1.256524  139.90
44270  41870 -20.906908  9.843153  ... -3.765371 -1.071238    1.00
44556  41991  -4.566342  3.353451  ...  0.195985  0.141115    1.00
45203  42247  -2.524012  2.098152  ...  0.456023 -0.405682    1.00

[284 rows x 30 columns]

In [ ]:
print(Y)

10639    0.0
9420     0.0
5635     0.0
14658    0.0
4360     0.0
        ...
44091    1.0
44223    1.0
44270    1.0
44556    1.0
45203    1.0
Name: Class, Length: 284, dtype: float64

In [ ]:
#Split the data into training data ana testing data
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=4)

In [ ]:
print(X_train)

        Time        V1        V2  ...       V27       V28  Amount
37138  38820 -1.116423  1.222494  ... -1.126990 -0.482085    0.89
40970  40482  0.701882 -1.107508  ... -0.117786  0.041304  280.00
45203  42247 -2.524012  2.098152  ...  0.456023 -0.405682    1.00
6717    8408 -1.813280  4.917851  ...  0.894767  0.569519    1.00
31407  36351 -0.959696  0.736918  ...  0.026365  0.062753   22.89
...      ...       ...       ...  ...       ...       ...     ...
24700  33339  1.337293  0.737301  ... -0.022485  0.037421    0.76
10568  17520 -5.268053  9.067613  ...  1.584697  0.720056    1.00
16912  28287 -0.280522 -0.444226  ...  0.013011 -0.104876    5.00
35047  37934  0.927439 -0.063273  ...  0.136929  0.040736   20.00
19083  30004  0.962457 -0.362198  ...  0.036036  0.005694   67.95

[227 rows x 30 columns]

In [ ]:
print(X_test)

        Time         V1         V2  ...       V27       V28  Amount
6529    7891  -1.585505   3.261585  ...  0.264028  0.132817    1.00
40071  40081  -1.311630   0.711942  ...  0.165756  0.091752   67.28
4920    4462  -2.303350   1.759247  ...  0.039566 -0.153029  239.93
27362  34521   1.081234   0.416414  ...  0.021008  0.010559    1.52
33258  37157   1.099707  -0.227632  ... -0.080688  0.010792  129.95
6329    7519   1.234235   3.019740  ... -0.010016  0.146793    1.00
10405  16797   0.964712  -0.537870  ... -0.148479 -0.009423  149.00
39344  39800   1.144230   0.447206  ...  0.013434  0.023671   11.39
36378  38512  -0.965315   0.617712  ...  0.342220  0.144331   51.00
31781  36514  -1.308242   0.954849  ... -0.117713 -0.019288   12.78
6253    7333   1.239632  -1.038947  ...  0.071652  0.005372   10.00
26995  34340  -0.847748   1.071633  ... -0.033902  0.060083   27.62
8617   11635   0.919137   4.199633  ...  0.627393  0.157851    1.00
6899    8878  -2.661802   5.856393  ...  0.280284  0.303937    1.00
15204  26556 -19.179826  11.817922  ...  1.621052  0.484614   99.99
17366  28658 -28.524268  15.876923  ...  1.301734  0.380246   99.99
10204  15817  -4.641893   2.902086  ... -3.908080 -0.671248   11.39
27295  34487   1.329600  -0.570413  ... -0.017594  0.004224   38.85
20466  31060   1.146522  -0.944866  ...  0.041481  0.014432   69.00
39823  39980  -0.531169   1.152482  ...  0.053649  0.076831    3.06
25972  33850   1.237114   0.317088  ... -0.025321  0.017920    1.79
8972   12393  -4.064005   3.100935  ... -3.036271 -0.630605  179.66
9509   14152  -4.710529   8.636214  ...  1.605958  0.721644    1.00
8439   11321   1.113691  -1.340337  ...  0.101927  0.009237   26.50
6331    7526   0.008430   4.137837  ...  0.735822  0.513574    1.00
30740  36064  -0.749890   0.025734  ... -0.050514 -0.104791   36.99
14658  25879   1.288418   0.068685  ...  0.026974  0.019759    2.95
31860  36543  -0.960898  -0.974875  ...  0.013969  0.064186   45.00
6108    6986  -4.397974   1.358367  ... -0.827136  0.849573   59.00
11880  20451 -15.819179   8.775997  ...  2.136424 -1.411945    1.00
11710  20011 -14.724627   7.875157  ...  2.161129 -1.401282    1.00
16780  28143 -27.143678  15.365804  ...  1.332153  0.385891   99.99
16871  28254   1.223368   0.023293  ... -0.027003 -0.002041    1.00
29750  35613  -1.549258   0.398593  ... -0.188048 -0.096371   92.00
8335   11131  -1.426623   4.141986  ...  1.977258  0.711607    1.00
44224  41852  -0.738521   1.223354  ... -0.013897  0.108268   73.60
42609  41170  -6.498086   4.750515  ...  1.415068  0.035124   83.38
42945  41308 -13.680760   6.990389  ... -1.406687 -0.663643    0.76
15682  27107   1.056593  -0.247166  ...  0.068989  0.035281   53.00
10497  17220   1.189784   0.942289  ... -0.003041  0.049819    3.79
37482  38973   0.701426  -1.531172  ...  0.013044  0.069833  344.00
27627  34634   0.333499   1.699873  ...  0.551002  0.305473   18.96
9487   14073  -4.153014   8.204797  ...  1.627209  0.723235    1.00
40085  40086   1.083693   1.179501  ...  0.096701  0.114972    1.00
9962   14857   1.241757   0.419587  ... -0.051084  0.017208    1.29
15839  27286  -2.036561   2.018027  ... -0.190940  0.016762    0.77
17453  28726 -29.876366  16.434525  ...  1.255649  0.364530   99.99
10639  17886  -2.402543  -2.062300  ...  0.040674 -0.245177  356.04
2788    2326   1.314650  -0.045373  ... -0.089960 -0.015498    2.23
2662    2200  -1.622261  -0.576436  ... -0.164462 -0.355377  227.35
8615   11629  -3.891192   7.098916  ...  1.881529  0.875260    1.00
6336    7543   0.329594   3.712889  ...  0.530507  0.404474    1.00
21204  31534  -0.424366   0.984723  ...  0.261008  0.119887    0.99
2120    1632   0.618767  -1.552041  ...  0.034837  0.084353  308.67
30384  35899  -2.857170   4.045601  ...  1.166961  0.663632    1.00
8296   11080  -2.125490   5.973556  ...  2.119749  1.108933    1.00
34065  37497   1.417685  -0.718985  ...  0.033670  0.018282   19.99

[57 rows x 30 columns]

In [ ]:
print(Y_train)

37138    0.0
40970    0.0
45203    1.0
6717     1.0
31407    0.0
        ...
24700    0.0
10568    1.0
16912    0.0
35047    0.0
19083    0.0
Name: Class, Length: 227, dtype: float64

In [ ]:
print(Y_test)

6529     1.0
40071    0.0
4920     1.0
27362    1.0
33258    0.0
6329     1.0
10405    0.0
39344    0.0
36378    0.0
31781    0.0
6253     0.0
26995    0.0
8617     1.0
6899     1.0
15204    1.0
17366    1.0
10204    1.0
27295    0.0
20466    0.0
39823    0.0
25972    0.0
8972     1.0
9509     1.0
8439     0.0
6331     1.0
30740    0.0
14658    0.0
31860    0.0
6108     1.0
11880    1.0
11710    1.0
16780    1.0
16871    0.0
29750    0.0
8335     1.0
44224    0.0
42609    1.0
42945    1.0
15682    0.0
10497    1.0
37482    0.0
27627    1.0
9487     1.0
40085    1.0
9962     0.0
15839    0.0
17453    1.0
10639    0.0
2788     0.0
2662     0.0
8615     1.0
6336     1.0
21204    0.0
2120     0.0
30384    1.0
8296     1.0
34065    0.0
Name: Class, dtype: float64

In [ ]:
#Modelling Training with Logistic Regression Model
model = LogisticRegression(C=1e5)

In [ ]:
#Training the logistic regression model with training data
model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=100000.0, class_weight=None, dual=False,
                   fit_intercept=True, intercept_scaling=1, l1_ratio=None,
                   max_iter=100, multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
#Model Evaluation with Accuracy Score
#accuracy on training data
X_train_prediction = np.array(model.predict(X_train))
training_data_accuracy =np.array(accuracy_score(X_train_prediction,Y_train))

In [ ]:
print('Our training data accuracy model score is: ',training_data_accuracy)

Our training data accuracy model score is:  0.9911894273127754

In [ ]:
#accuracy on the test data
X_test_prediction = np.array(model.predict(X_test))
test_data_accuracy =np.array(accuracy_score(X_test_prediction,Y_test))

In [ ]:
print('Our test data accuracy model score is: ',test_data_accuracy)

Our test data accuracy model score is:  0.9649122807017544

In [ ]:
print(confusion_matrix(X_test_prediction,Y_test))

[[28  2]
 [ 1 26]]

In [ ]:
print(classification_report(X_test_prediction,Y_test))

              precision    recall  f1-score   support

         0.0       0.97      0.93      0.95        30
         1.0       0.93      0.96      0.95        27

    accuracy                           0.95        57
   macro avg       0.95      0.95      0.95        57
weighted avg       0.95      0.95      0.95        57